<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row" style="display: flex; justify-content: space-between;">
      <div class="col-xs-12">
        <h4>{{selectedContact?.name}}</h4>
      </div>
      <div class="col-xs-12">
        <button class="btn btn-primary">Edit</button>
        <button class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
        <p>{{selectedContact?.email}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <b></b>
      </div>
    </div>
  </div>
</div>
